@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    font-family: "Oxygen", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
    background: #fff;
    color: #2F3034;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.container {
    overflow: auto;
}

.sidebar {
    width: 300px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hide {
    display: none;
}

.text-right {
    text-align: right;
}

.link {
    color: #007BFF;
    cursor: pointer;
}

.error {
    color: #ff4f4b;
}

.text-gray {
    color: #999;
}
.text-smaller {
    font-size: smaller;
    font-style: italic;
}

#login {
    width: 400px;
    min-width: 300px;
    margin: 0 auto;
}

#login input {
    margin: 10px 0;
}

/***************************
sidebar
 ***************************/
.sidebar .prof {
    height: 100px;
}
.sidebar .prof div {
    display: inline;
}
.sidebar .prof img {
    max-width: 100px;
    max-height: 100px;
}
.sidebar .prof .name {
    margin: 10px 0;
    padding: 0 15px;
    width: 170px;
}
.sidebar .prof .name p {
    margin: 10px 0;
    line-height: 1.6em;
}
.sidebar .prof .name p+p {
    color: #999;
}

.sidebar .menu {
    margin: 15px 0;
}
.sidebar .menu li {
    display: inline-block;
    width: 144px;
    /*height: 48px;*/
}
.sidebar .menu li span {
    margin: 10px 0;
    height: 36px;
    padding-left: 45px;
    display: inline-block;
    line-height: 2.3em;
    background-size: 36px 36px;
    background-repeat: no-repeat;
}
.sidebar .menu li .icon_contacts {
    background-image: url('../img/contacts-24px.svg');
}
.sidebar .menu li .icon_message {
    background-image: url('../img/chat-24px.svg');
}
.sidebar .menu li .icon_request {
    background-image: url('../img/person_add-24px.svg');
}
