@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    font-family: "Oxygen", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

body {
    background: #fff;
    color: #2F3034;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.container {
    margin: 15px 0;
    overflow: auto;
}
.container.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
    overflow: hidden;
}

.hide {
    display: none;
}

.link {
    color: #007BFF;
    cursor: pointer;
}

.error {
    color: #ff4f4b;
}

.no_spacing {
    margin: 0;
    padding: 0;
}


/***************************
border common
 ***************************/
.border_bottom {
    padding: 10px 0;
    border-bottom: #999 solid 1px;
}

/***************************
text common
 ***************************/
.text-right {
    text-align: right;
}
.text-gray {
    color: #999;
}
.text-smaller {
    font-size: smaller;
    font-style: italic;
}
.text-100 {
    width: 100px;
    display: inline-block;
}
.text-120 {
    width: 120px;
    display: inline-block;
}
.text-150 {
    width: 150px;
    display: inline-block;
}
.text-240 {
    width: 240px;
    display: inline-block;
}
.text-340 {
    width: 340px;
    display: inline-block;
}
.text-520 {
    width: 520px;
    display: inline-block;
}
.text-550 {
    width: 550px;
    display: inline-block;
}
.text-100per {
    width: 100%;
    display: inline-block;
}


/***************************
icon common
 ***************************/
.edit {
    background-image: url('../img/edit-24px.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    /*background-position: 0 center;*/
    padding-left: 30px;
    width: 80px;
    height: 28px;
    display: inline-block;
    vertical-align: center;
}
.edit a {
    margin: auto 0;
    display: inline-block;
}


/***************************
login
 ***************************/
#login {
    width: 400px;
    min-width: 300px;
    margin: 0 auto;
}

#login input {
    margin: 10px 0;
}


/***************************
sidebar
 ***************************/
.sidebar {
    width: 300px;
}
.sidebar + .container {
    width: 780px;
}
.sidebar .prof {
    height: 100px;
}
.sidebar .prof div {
    display: inline;
}
.sidebar .prof img {
    max-width: 100px;
    max-height: 100px;
}
.sidebar .prof a {
    color: #000;
}
.sidebar .prof a:hover {
    text-underline: none;
}
.sidebar .prof .name {
    margin: 10px 0;
    padding: 0 15px;
    width: 170px;
}
.sidebar .prof .name p {
    margin: 10px 0;
    line-height: 1.6em;
}
.sidebar .prof .name p + p {
    color: #999;
}

.sidebar .menu {
    margin: 15px 0;
}
.sidebar .menu li {
    display: inline-block;
    width: 144px;
}
.sidebar .menu li span {
    margin: 10px 0;
    height: 36px;
    padding-left: 45px;
    display: inline-block;
    line-height: 2.3em;
    background-size: 36px 36px;
    background-repeat: no-repeat;
}
.sidebar .menu li .icon_contacts {
    background-image: url('../img/contacts-24px.svg');
}
.sidebar .menu li .icon_message {
    background-image: url('../img/chat-24px.svg');
}
.sidebar .menu li .icon_request {
    background-image: url('../img/person_add-24px.svg');
}
.sidebar .menu li .icon_request_list {
    background-image: url('../img/list-24px.svg');
}


/***************************
prof
 ***************************/
.prof #prof_img {
    background-size: 200px 200px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #666;
}
.prof #password {
    padding-bottom: 10px;
}
.prof #password input {
    margin: 5px 0;
}
.prof #password input:first-child {
    margin-top: 0;
}
.prof #privacy {
    margin-right: 10px;
}
.prof .sex .text-120 {
    margin-top: 5px;
}
.prof .container #sex {
    padding-bottom: 10px;
}
.prof input.btn {
    margin: 0 15px;
    width: 317px;
}

/***************************
contact request
 ***************************/
.contact_request table tr {
    border: solid 1px #999;
    border-width: 1px 0;
}
.contact_request table td:first-child {
    width: 80px;
    height: 60px;
}
.contact_request table td:nth-child(2) {
    width: 550px;
}
.contact_request table td:last-child {
    padding: 10px 15px;
    width: 90px;
}
.contact_request .prof_img {
    background-size: 48px 48px;
    background-repeat: no-repeat;
    margin: 6px 16px;
    width: 48px;
    height: 48px;
    display: inline-block;
}


/***************************
contact
 ***************************/
.container.contact {
    width: 145px;
    display: inline-flex;
    text-align: center;
}
.contact .prof_img {
    background-size: 100px 100px;
    background-repeat: no-repeat;
    margin: 6px 4px;
    width: 100px;
    height: 100px;
    display: inline-block;
}


/***************************
message list
 ***************************/
.container.message_list {
    width: 250px;
}
.message_list .list.talk {
    height: 68px;
    border-top: solid 1px #999;
    border-bottom: solid 1px #999;
    border-collapse: collapse;
}
.message_list .list.talk p {
    width: 155px;
    max-width: 155px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    content: '...';
    display: inline-block;
}
.message_list .list.talk span {
    display: block;
}
.message_list .prof_img.talk_img {
    margin: 10px 0;
}
.message_list .talk_name {
    margin: 10px 0 5px;
    display: inline-block;
}

/***************************
message contact list
 ***************************/
.container.message_contact.modal {
    position: relative;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    border: 0;
}
.container.message_contact.modal .close {
    font-size: 1rem;
}
.container.message_contact .container {
    height: 520px;
}
.container.message_contact table tr {
    border: solid 1px #999;
    border-width: 1px 0;
}
.message_contact table td:first-child {
    width: 80px;
    height: 60px;
}
.message_contact table td:nth-child(2) {
    width: 550px;
}
.message_contact table td:last-child {
    padding: 10px 15px;
    width: 90px;
}
.message_contact .prof_img {
    background-size: 48px 48px;
    background-repeat: no-repeat;
    margin: 6px 16px;
    width: 48px;
    height: 48px;
    display: inline-block;
}

/***************************
message
 ***************************/
.message.message_list + .message {
    width: 500px;
}
.message textarea {
    resize: none;
}
.message .submit {
    margin-left: 10px;
    height: 100%;
}
.message .submit input[type=submit] {
    height: 100%;
}
#messageList .message {
    margin: 10px 0;
    max-width: 70%;
}
.message .prof_img {
    background-size: 48px 48px;
    background-repeat: no-repeat;
    margin: 6px 16px;
    width: 48px;
    height: 48px;
    display: inline-block;
}
.message .balloon {
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 5px;
}
.message.self .balloon {
    background-color: #8f8;
}
.message.other .balloon {
    line-height: 2em;
}
